@model Dominion.Models.Requests

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete request #@Html.DisplayFor(model => model.ReqID)?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqItems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqItems)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReqID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Cancel</a>
    </form>
</div>
