@model Dominion.Models.Requests

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Requests</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqItems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqItems)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReqID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
